@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alan+Sans:wght@300..900&family=Alata&family=Alfa+Slab+One&family=Anton&family=Average&family=Catamaran:wght@100..900&family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jaro:opsz@6..72&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Share+Tech+Mono&family=VT323&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alan Sans", sans-serif;
}

.joke-body {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.display {
  min-width: 400px;
  min-height: 50px;
  background-color: hsl(350, 100%, 96%);
  border-radius: .5rem;
  border: 1px solid hsla(0, 0%, 0%, .2);
  text-align: center;
  text-wrap: wrap;
  padding: .6rem;
}

.joke-btn {
  font-family: "Alan Sans", sans-serif;
  background-color: yellowgreen;
  border: 1px solid hsla(0, 0%, 0%, .2);
  padding: .5rem 1rem;
  border-radius: .4rem;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    scale: 1.03;
  }
  &:active {
    scale: 1;
  }
}

.tool-bar {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: .2rem;
}

.tool-btn {
  background-color: transparent;
  color: hsl(0, 0%, 30%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: .2rem;
  border-radius: .3rem;

  & svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  &:hover {
    background-color: hsl(350, 100%, 95%);
  }
}